<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Tất cả</p-tab>
    <p-tab value="1">Chờ xác nhận</p-tab>
    <p-tab value="2">Đang xử lý</p-tab>
    <p-tab value="3">Đã xử lý</p-tab>
    <p-tab value="4">Đã hủy</p-tab>
  </p-tablist>

  <div class="my-2">
    <p-card header="Quản lý đơn hàng">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 position-relative">
          <div class="input-group mb-3">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" (click)="toggleDropdown()">
              Lọc theo
            </button>
            <ul class="dropdown-menu position-absolute mt-5" [ngClass]="{ 'show': isDropdownOpen }">
              <li><a class="dropdown-item">Mã đơn hàng</a></li>
              <li><a class="dropdown-item">Tên đơn hàng</a></li>
              <li><a class="dropdown-item">Tên khách hàng</a></li>

            </ul>
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">Tìm kiếm</button>
          </div>
        </div>



        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="d-flex justify-content-end">
            <p-datepicker [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" [iconDisplay]="'input'"
              [showIcon]="true" />
            <p-button class="ms-3" icon="pi pi-print" label="Xuất Excel" [outlined]="true" severity="success" />
          </div>
        </div>
      </div>

    </p-card>
  </div>


  <p-tabpanels>
    <p-tabpanel value="0">
      <p-table #dt2 [value]="values" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        [globalFilterFields]="['Id', 'name', 'phone', 'status']" [tableStyle]="{ 'min-width': '75rem' }">
        <ng-template #header>
          <tr>
            <th style="width: 20%;">Mã đơn hàng</th>
            <th style="width: 20%;">Tên khách hàng</th>
            <th style="width: 20%;">Số điện thoại</th>
            <th style="width: 20%;">Thời gian đặt</th>
            <th style="width: 20%;">Thanh toán</th>
            <th style="width: 20%;">Hành động</th>
          </tr>
          <tr>
            <th>
              <p-columnFilter type="text" field="Id" placeholder="Nhập mã KH" ariaLabel="Filter Name"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="name" placeholder="Nhập tên KH"
                ariaLabel="Filter Country"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="phone" matchMode="in" [showMenu]="false " placeholder="Nhập số điện thoại">
                <ng-template #filter let-value let-filter="filterCallback">
                  <p-multiselect [(ngModel)]="values" [options]="value" placeholder="Any"
                    (onChange)="filter($event.value)" optionLabel="Id">
                    <ng-template let-option #item>
                      <div class="inline-block align-middle">
                        <img [alt]="option.label"
                          src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ option.image }}" width="24"
                          class="align-middle" />
                        <span class="ml-1 mt-1">{{ option.Id }}</span>
                      </div>
                    </ng-template>
                  </p-multiselect>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                <ng-template #filter let-value let-filter="filterCallback">
                  <p-select [(ngModel)]="values" [options]="value" (onChange)="filter($event.value)"
                    placeholder="Select One" [showClear]="true">
                    <ng-template let-option #item>
                      <p-tag [value]="option.value" [severity]="getSeverity(option.value)" />
                    </ng-template>
                  </p-select>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="boolean" field="verified"></p-columnFilter>
            </th>

            <th>

            </th>
          </tr>
        </ng-template>
        <ng-template #body let-customer>
          <tr>
            <td>
              {{ customer.Id }}
            </td>
            <td>
              <div class="flex items-center gap-2">
                <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                  [class]="'flag flag-' + customer.name" style="width: 20px" />
                <span>{{ customer.name }}</span>
              </div>
            </td>
            <td>
              <div class="flex items-center gap-2">

                <span>{{ customer.phone }}</span>
              </div>
            </td>
            <td>
              <p-tag [value]="customer.status" [severity]="getSeverity(customer.status)" />
            </td>
            <td>
              <i class="pi" [ngClass]="{
                          'text-green-500 pi-check-circle': customer.verified,
                          'text-red-500 pi-times-circle': !customer.verified
                      }"></i>
            </td>
            <td> <!-- Cột hành động -->
              <div class="d-flex">
                <p-button icon="pi pi-pen-to-square" showDelay="1000" (click)="showDialog()"
                  pTooltip="Chi tiết đơn hàng  " severity="info" class="p-button-rounded p-button-sm" />
                <p-button icon="pi pi-check-circle" showDelay="1000" pTooltip="Duyệt đơn hàng" severity="success"
                  class="p-button-rounded p-button-sm" />
                <p-button icon="pi pi-times" showDelay="1000" pTooltip="Hủy đơn hàng" severity="danger"
                  class="p-button-rounded p-button-sm" />
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="5">No customers found.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabpanel>
    <p-tabpanel value="1">
      <p class="m-0">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
        dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
        modi.
      </p>
    </p-tabpanel>
    <p-tabpanel value="2">
      <p class="m-0">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
        atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
        sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
        facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
        impedit quo minus.
      </p>
    </p-tabpanel>
    <p-tabpanel value="3">
      <p class="m-0">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
        atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
        sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
        facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
        impedit quo minus.
      </p>
    </p-tabpanel>
    <p-tabpanel value="4">
      <p class="m-0">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
        atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
        sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
        facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
        impedit quo minus.
      </p>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>


<!-- Order detail -->
<div>
  <!-- <p-button (click)="showDialog()" label="Show" /> -->
  <p-dialog header="Chi tiết đơn hàng DH123" [(visible)]="visible" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '80vw' }" [draggable]="false"
    [resizable]="false"
    [contentStyle]="{'padding': ' 0px 40px'}">
    <c-card-body class="p-4">
      <div class="customer-infor">
        <h5>Thông tin khách hàng</h5>
        <p-panel>
          <p><strong>Tên: </strong>Nguyễn Văn A</p>
          <p><strong>Ngày sinh: </strong>Nam</p>
          <p><strong>Giới tính: </strong> 25/02/2004</p>
          <p><strong>Email: </strong> {{ 'Abc@gmail.com' }}</p>
          <p><strong>Số điện thoại: </strong> 1234567890</p>
        </p-panel>
      </div>
      <div class="product-list mt-5">
        <h5>Thông tin đơn hàng</h5>
        <!-- <c-card-body class="p-4">

        </c-card-body> -->
        <p-panel>
          <p><strong>Ngày mua: </strong>15/02/2024</p>
          <p><strong>Thanh toán: </strong>Đã thanh toán</p>
          <p><strong>Ghi chú: </strong> Đóng gói cẩn thận</p>
        </p-panel>

        <p-table [value]="orders" stripedRows [tableStyle]="{'min-width': '50rem', 'margin-top': '1rem'}">
          <ng-template #header>
            <tr>
              <th>Mã sản phẩm</th>
              <th>Tên sản phẩm</th>
              <th>Đơn vị</th>
              <th>Số lượng mua</th>
              <th>Giá</th>
            </tr>
          </ng-template>
          <ng-template #body let-product>
            <tr>
              <td>{{product.id}}</td>
              <td>{{product.name}}</td>
              <td>{{product.unit}}</td>
              <td>{{product.amount}}</td>
              <td>{{product.price}}</td>
            </tr>
          </ng-template>
          <ng-template #footer>
            <tr>
              <td colspan="4" class="text-right font-bold p-3 pb-0"><b>Thành tiền</b></td>
              <td class="text-red font-bold p-3 pb-0">{{ price_1 | currency: 'VND' }}</td>
            </tr>
          </ng-template>
        </p-table>

      </div>

      <div class="orderDetail-action d-flex justify-content-end mt-5">
        <p-button class="me-3" label="Hủy" severity="secondary" />
        <p-button class="me-3" label="Phê duyệt" severity="success" />
      </div>

    </c-card-body>
  </p-dialog>
</div>
