
<router-outlet></router-outlet>
<c-card *ngIf="!isAddProductPage">
  <c-card-header>
    <h5>Quản lý Blog</h5>
  </c-card-header>
  <c-card-body>

    <div class="d-flex justify-content-start">
      <p-toast />
      <p-confirmdialog />
      <p-button class="me-3" icon="pi pi-plus" label="Thêm Blog" [outlined]="true" severity="success"
        (click)="navigateToAddBlog()" />
      <p-button class="me-3" icon="pi pi-print" label="Xuất Excel" [outlined]="true" severity="help" />
      <p-button (click)="confirm_delete($event)" label="Xóa tất cả" severity="danger" [outlined]="true" class="me-3" icon="pi pi-trash"/>
    </div>
    <hr>

    <div class="d-flex justify-content-end">
      <div>
        <c-input-group class="mb-3">
          <input aria-describedby="button-addon2" aria-label="Nhập tên Blog" cFormControl
            placeholder="Nhập tên Blog" />
          <button cButton color="secondary" id="button-addon2" type="button" variant="outline">
            Tìm kiếm
          </button>
        </c-input-group>
      </div>
    </div>
    <p-table [value]="products" [tableStyle]="{'min-width': '60rem'}">

      <ng-template pTemplate="header">
        <tr>
          <th>Tên Blog</th>
          <th>Hình ảnh</th>
          <th>Lượt xem</th>
          <th>Lượt bình luận</th>
          <th>Ngày đăng</th>
          <th>Hành động</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-blog>
        <tr>
          <td>{{blog.name}}</td>
          <td><img
              [src]="'https://image.tienphong.vn/w890/Uploaded/2025/rkznae/2020_12_28/55832_hai_san_nha_trang_JLSC.jpg'"
              [alt]="blog.name" width="100" class="shadow-4" /></td>
          <td>{{blog.price }}</td>
          <td>{{blog.category}}</td>

          <td><p-tag [value]="blog.inventoryStatus" [severity]="getSeverity(blog.inventoryStatus)" /></td>
          <td>
            <p-button icon="pi pi-eye" severity="success"  class="p-button-rounded p-button-sm" (click)="showBlogDetail()" />
            <p-button icon="pi pi-pen-to-square" (click)="showDialog()" severity="info"
              class="p-button-rounded p-button-sm" />
            <p-button icon="pi pi-trash" severity="danger"  class="p-button-rounded p-button-sm" />
          </td>
        </tr>
        <tr>
          <td>{{blog.name}}</td>
          <td><img
              [src]="'https://image.tienphong.vn/w890/Uploaded/2025/rkznae/2020_12_28/55832_hai_san_nha_trang_JLSC.jpg'"
              [alt]="blog.name" width="100" class="shadow-4" /></td>
          <td>{{blog.price }}</td>
          <td>{{blog.category}}</td>

          <td><p-tag [value]="blog.inventoryStatus" [severity]="getSeverity(blog.inventoryStatus)" /></td>
          <td>
            <p-button icon="pi pi-eye" severity="success"  class="p-button-rounded p-button-sm" (click)="showBlogDetail()"/>
            <p-button icon="pi pi-pen-to-square" (click)="showDialog()" severity="info"
              class="p-button-rounded p-button-sm" />
            <p-button icon="pi pi-trash" severity="danger"  class="p-button-rounded p-button-sm" />
          </td>
        </tr>
        <tr>
          <td>{{blog.name}}</td>
          <td><img
              [src]="'https://image.tienphong.vn/w890/Uploaded/2025/rkznae/2020_12_28/55832_hai_san_nha_trang_JLSC.jpg'"
              [alt]="blog.name" width="100" class="shadow-4" /></td>
          <td>{{blog.price }}</td>
          <td>{{blog.category}}</td>

          <td><p-tag [value]="blog.inventoryStatus" [severity]="getSeverity(blog.inventoryStatus)" /></td>
          <td>
            <p-button icon="pi pi-eye" severity="success"  class="p-button-rounded p-button-sm" (click)="showBlogDetail()"/>
            <p-button icon="pi pi-pen-to-square" (click)="showDialog()" severity="info"
              class="p-button-rounded p-button-sm" />
            <p-button icon="pi pi-trash" severity="danger"  class="p-button-rounded p-button-sm" />
          </td>
        </tr>
      </ng-template>

    </p-table>
    <div class="card flex justify-center mt-2">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120"
        [rowsPerPageOptions]="[10, 20, 30]" />
    </div>
  </c-card-body>
</c-card>


<!-- Update Blog -->
<div class="card flex justify-center">
  <!-- <p-button (click)="showDialog()" label="Show" /> -->
  <p-dialog header="Cập nhật Blog" [(visible)]="visible" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '80vw' }" [draggable]="false"
    [resizable]="false">
    <c-card-body class="p-4">
      <div class="blog-infor">
        <div class="row">
          <h6 class="mt-5"><b>1. Ảnh bìa</b></h6>
          <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 ">
            <div class="d-flex justify-content-start">
              <p-fileupload mode="basic" name="demo[]" chooseIcon="pi pi-image" accept="image/*" maxFileSize="1000000"
                (onSelect)="onUpload($event)" [auto]="true" chooseLabel="Chọn ảnh chính" />
            </div>
            <div class="mt-3 border">
              <p-image *ngIf="primaryImg" [src]="primaryImg" alt="Image" width="100%" [preview]="true" />
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 ">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                <div class="d-flex flex-column">
                  <label for="username" class="block">Tên Blog</label>
                  <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="value" [style]="{'width': '100%' }" />
                </div>
              </div>
            </div>
          </div>

          <h6 class="mt-5"><b>3. Mô tả</b></h6>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
            <div class="blog-desc">
              <div id="editorBlogManagement" class="mb-5"></div>
              <div class="d-flex justify-content-end">
                <p-button label="Xác nhận" (click)="showContent()" />
              </div>

              <div class="row">
                <div class="col col-2"></div>
                <div class="col col-8">
                  <div class="content-wrapper">
                    <div [innerHTML]="contentHtml"></div>
                  </div>
                </div>
                <div class="col col-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </c-card-body>
  </p-dialog>
</div>

<!-- Blog detail -->

<div>
  <!-- <p-button (click)="showDialog()" label="Show" /> -->
  <p-dialog header="Cách làm chả mực giã tay" [(visible)]="blogDetail" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '80vw' }" [draggable]="false"
    [resizable]="false"
    [contentStyle]="{'padding': ' 0px 40px'}">
    <div [innerHTML]="blogContent"></div>
  </p-dialog>
</div>
