<router-outlet> </router-outlet>
<c-card *ngIf="!isAddcustomerPage">
  <c-card-header>
    <h5>Quản lý khách hàng</h5>
  </c-card-header>
  <c-card-body>

    <div class="d-flex justify-content-start">
      <p-toast />
      <p-confirmdialog />
      <p-button class="me-3" icon="pi pi-plus" label="Thêm khách hàng" [outlined]="true" severity="success"
        (click)="navigateToAddcustomer()" />
      <p-button class="me-3" icon="pi pi-print" label="Xuất Excel" [outlined]="true" severity="help" />
      <p-button (click)="confirm_delete($event)" label="Xóa tất cả" severity="danger" [outlined]="true" class="me-3" icon="pi pi-trash"/>
    </div>
    <hr>

    <p-table #dt2 [value]="values" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        [globalFilterFields]="['Id', 'name', 'phone', 'status']" [tableStyle]="{ 'min-width': '75rem' }">
        <ng-template #header>
          <tr>
            <th style="width: 20%;">Mã khách hàng</th>
            <th style="width: 20%;">Tên khách hàng</th>
            <th style="width: 20%;">Số điện thoại</th>
            <th style="width: 20%;">Email</th>
            <th style="width: 20%;">Hành động</th>
          </tr>
          <tr>
            <th>
              <p-columnFilter type="text" field="Id" placeholder="Nhập mã KH" ariaLabel="Filter Name"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="name" placeholder="Nhập tên KH"
                ariaLabel="Filter Country"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="phone" matchMode="in" [showMenu]="false " placeholder="Nhập số điện thoại">
                <ng-template #filter let-value let-filter="filterCallback">
                  <p-select [(ngModel)]="values" [options]="value" (onChange)="filter($event.value)"
                    placeholder="Select One" [showClear]="true">
                    <ng-template let-option #item>
                      <p-tag [value]="option.value" [severity]="getSeverity(option.value)" />
                    </ng-template>
                  </p-select>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="status" matchMode="equals" [showMenu]="false" placeholder="Nhập email">
                <ng-template #filter let-value let-filter="filterCallback">
                  <p-select [(ngModel)]="values" [options]="value" (onChange)="filter($event.value)"
                    placeholder="Select One" [showClear]="true">
                    <ng-template let-option #item>
                      <p-tag [value]="option.value" [severity]="getSeverity(option.value)" />
                    </ng-template>
                  </p-select>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>

            </th>
          </tr>
        </ng-template>
        <ng-template #body let-customer>
          <tr>
            <td>
              {{ customer.Id }}
            </td>
            <td>
              <div class="flex items-center gap-2">
                <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                  [class]="'flag flag-' + customer.name" style="width: 20px" />
                <span>{{ customer.name }}</span>
              </div>
            </td>
            <td>
              <div class="flex items-center gap-2">

                <span>{{ customer.phone }}</span>
              </div>
            </td>
            <td>
              <p-tag [value]="customer.status" [severity]="getSeverity(customer.status)" />
            </td>
            <td> <!-- Cột hành động -->
              <div class="d-flex">
                <p-button icon="pi pi-pen-to-square" showDelay="1000" (click)="showDialog()"
                  pTooltip="Chi tiết khách hàng  " severity="info" class="p-button-rounded p-button-sm" />
                <p-button icon="pi pi-lock" showDelay="1000" pTooltip="Duyệt khách hàng" severity="help"
                  class="p-button-rounded p-button-sm" />
                <p-button icon="pi pi-lock-open" showDelay="1000" pTooltip="Hủy khách hàng" severity="success"
                  class="p-button-rounded p-button-sm" />
                <p-button icon="pi pi-trash" showDelay="1000" pTooltip="Hủy khách hàng" severity="danger"
                  class="p-button-rounded p-button-sm" />
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="5">No customers found.</td>
          </tr>
        </ng-template>
      </p-table>
  </c-card-body>
</c-card>


<!-- Customer detail -->
<div class="card flex justify-center">
  <!-- <p-button (click)="showDialog()" label="Show" /> -->
  <p-dialog header="Chi tiết khách hàng" [(visible)]="visible" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '80vw' }" [draggable]="false"
    [resizable]="false">
    <c-card-body class="p-4">
      <div class="customer-infor">
        <div class="row">
          <h6><b>1. Thông tin khách hàng</b></h6>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
                <div class="d-flex flex-column">
                  <label for="username" class="block mt-3">Tên khách hàng</label>
                  <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="value" />
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
                <div class="d-flex flex-column">
                  <label for="username" class="block mt-3">Giá</label>
                  <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="value" />
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
                <div class="d-flex flex-column">
                  <label for="username" class="block mt-3">Xuất xứ</label>
                  <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="value" />
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
                <div class="d-flex flex-column">
                  <label for="username" class="block mt-3">Số lượng</label>
                  <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="value" />
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
                <div class="d-flex flex-column">
                  <label for="username" class="block mt-3">Hướng dẫn</label>
                  <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="value" />
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
                <div class="d-flex flex-column">
                  <label for="username" class="block mt-3">Đơn vị</label>
                  <p-select [options]="value" [(ngModel)]="value" optionLabel="name" class="w-full md:w-56" />
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
                <div class="d-flex flex-column">
                  <label for="username" class="block mt-3">Loại</label>
                  <p-select [options]="value" [(ngModel)]="value" optionLabel="name" class="w-full md:w-56" />
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
                <div class="d-flex flex-column">
                  <label for="username" class="block mt-3">Mã giảm giá</label>
                  <p-select [options]="value" [(ngModel)]="value" optionLabel="name" class="w-full md:w-56" />
                </div>
              </div>
            </div>
          </div>

          <h6 class="mt-5"><b>2. Hình ảnh</b></h6>
          <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 ">
            <div class="d-flex justify-content-start">
              <p-fileupload mode="basic" name="demo[]" chooseIcon="pi pi-image" accept="image/*" maxFileSize="1000000"
                (onSelect)="onUpload($event)" [auto]="true" chooseLabel="Chọn ảnh chính" />
            </div>
            <div class="mt-3 border">
              <p-image *ngIf="primaryImg" [src]="primaryImg" alt="Image" width="100%" [preview]="true" />
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 ">
            <div class="">
              <p-fileupload name="demo[]" [multiple]="true" accept="image/*" maxFileSize="1000000" mode="advanced"
                [auto]="true" chooseLabel="Chọn ảnh phụ">
                <ng-template #empty>
                  <div>Kéo và thả tệp vào đây để tải lên.</div>
                </ng-template>
                <ng-template #content>
                  <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                  </ul>
                </ng-template>
              </p-fileupload>
            </div>
          </div>

          <h6 class="mt-5"><b>3. Mô tả</b></h6>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
            <div class="customer-desc">
              <div id="editorCustomerManagement" class="mb-5"></div>
              <div class="d-flex justify-content-end">
                <p-button label="Xác nhận" (click)="showContent()" />
              </div>

              <!-- <div class="row">
                <div class="col col-2"></div>
                <div class="col col-8">
                  <div class="content-wrapper">
                    <div [innerHTML]="contentHtml"></div>
                  </div>
                </div>
                <div class="col col-2"></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </c-card-body>
  </p-dialog>
</div>
