<div class="login-container ">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-4">
      <div class="login-form mt-5">
        <div class="d-flex justify-content-center mb-4">
          <h2>Đăng Nhập</h2>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

          <input id="username" formControlName="username" class="form-control mb-3"
            placeholder="Nhập email hoặc số điện thoại" />
          <input id="password" type="password" formControlName="password" class="form-control mb-3"
            placeholder="Nhập mật khẩu" />

          <div class="d-flex justify-content-end forget-password mb-3">
            <a (click)="onForgotPassword()" class="pointer" href="#"><b>Quên mật khẩu?</b></a>
          </div>

          <div class="w-100 mb-3 mt-5">
            <p-button label="Đăng nhập" severity="success" [style]="{width: '100%'}" (click)="onLogin()"></p-button>
          </div>
        </form>

        <div class="social-login d-flex justify-content-center align-items-center mt-3 mb-3">
          <i (click)="loginWith('Facebook')" class="pi pi-facebook"></i>
          <i (click)="loginWith('Google')" class="pi pi-google"></i>
        </div>

        <div class="links d-flex justify-content-center mt-3">
          <span>Chưa có tài khoản? <a (click)="onRegister()" class="pointer" href="#"><b>Đăng ký ngay</b></a></span>
        </div>
      </div>
    </div>
  </div>
</div>
